@page "/Patient/ViewAppointments"
@attribute [Authorize]
@using Domain.Models
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@inject IAppointmentService AppointmentService

<AuthorizeView>
    <Authorize>
		<div>
		    <button @onclick="LoadAppointments">Load</button>
		</div>

		@if (Appointments == null)
		{
			<p>Appointments == null</p>
		}
		else if (!Appointments.Any())
		{
		    <p>No Appointments to display</p>
		}
		else{
		    //<h2>Patient: patientName with id: patientId </h2>
		    <table class="table">
		        <thead>
		        <tr>
		            <th>Appointment ID</th>
		            <th>Doctor ID</th>
		            <th>Diagnostic</th>
		            <th>Status</th>
		            <th>Date</th>
		            <th>Time</th>
		        </tr>
		        </thead>

		        <tbody>
		        @foreach (var appointment in Appointments)
		        {
		            <tr>
		                <td>@appointment.Id</td>
		                <td>@appointment.DoctorId</td>
		                <td>@appointment.Diagnostic</td>
		                <td>@appointment.Status</td>
		                <td>@appointment.Date</td>
		                <td>@appointment.Time</td>
		            </tr>
		        }
		        </tbody>
		    </table>
		}
    </Authorize>
</AuthorizeView>

@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}

@code {
	private RegisterPatientDto RegisterPatientDto;
    private string msg = "";
	private int patientIdFilter;
	private ICollection<Appointment> Appointments;

    /*private int idFilter;
    private int doctorIdFilter;
    private string diagnosticFilter;
    private bool statusFilter;
    private string dateFilter;
    private string timeFilter;*/

	public List<Appointment> getAllAppointments()
	{
		return RegisterPatientDto.Appointments;
	}

    private async Task LoadAppointments()
    {
	    Console.WriteLine("LoadAppointments start");
        try
        {
            Appointments = await AppointmentService.GetAsync(patientIdFilter);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
	    Console.WriteLine("LoadAppointments end");
    }
}
